<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>
  {{- if .IsHome -}}
    {{ site.Title }}
  {{- else if .Title -}}
    {{ .Title }} |
    {{ site.Title }}
  {{- else -}}
    {{ site.Title }}
  {{- end -}}

</title>

<meta
  name="description"
  content="{{- with .Description -}}
    {{ . | plainify | truncate 160 `...` }}
  {{- else -}}
    {{- with .Params.summary -}}
      {{ . | plainify | truncate 160 `...` }}
    {{- else -}}
      {{- if or .IsPage .IsSection -}}
        {{- if .Content -}}
          {{ .Content | plainify | truncate 150 `...` }}
        {{- else -}}
          {{- with site.Params.description -}}
            {{ . | plainify | truncate 160 `...` }}
          {{- else -}}
            {{ printf `%s - %s` .Title site.Title | plainify | truncate 160 `...` }}
          {{- end -}}
        {{- end -}}
      {{- else -}}
        {{- with site.Params.description -}}
          {{ . | plainify | truncate 160 `...` }}
        {{- else -}}
          {{ printf `%s - %s` .Title site.Title | plainify | truncate 160 `...` }}
        {{- end -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}"
/>
<meta
  name="keywords"
  content="{{- with .Params.tags -}}
    {{ delimit . `, ` }}
  {{- else -}}
    {{- with site.Params.keywords -}}{{ delimit . `, ` }}{{- end -}}
  {{- end -}}"
/>
<meta
  name="author"
  content="{{- with .Params.author -}}
    {{ . }}
  {{- else -}}
    {{ site.Params.defaultAuthor }}
  {{- end -}}"
/>
<meta name="language" content="{{ site.Params.language | default site.LanguageCode }}" />

<meta
  name="robots"
  content="{{- with .Params.robots -}}
    {{ . }}
  {{- else -}}
    index, follow
  {{- end -}}"
/>
<link rel="canonical" href="{{ .Permalink }}" />

{{ with site.Params.favicon.svg }}
  <link rel="icon" type="image/svg+xml" href="{{ strings.TrimPrefix `/` . | relURL }}" />
{{ else }}
  <link rel="icon" type="image/svg+xml" href="{{ `favicon.svg` | relURL }}" />
{{ end }}

{{- if or .IsPage .IsHome .IsSection .IsNode -}}
  {{- $_ := .Content -}}
{{- end -}}

{{- $searchConfig := partial "config/search.html" . -}}
{{- $galleryConfig := partial "config/gallery.html" . -}}
{{- .Scratch.Set "galleryEnabled" $galleryConfig.gallery -}}
{{- .Scratch.Set "lightboxEnabled" $galleryConfig.lightbox -}}
{{- .Scratch.Set "galleryConfig" $galleryConfig.galleryOptions -}}


<link rel="manifest" href="{{ `site.webmanifest` | relURL }}" />
{{ partial "layout/head/seo.html" . }}

{{ partial "config/script.html" (dict "id" "search-config" "value" $searchConfig) }}
{{ if or ($galleryConfig.gallery) ($galleryConfig.lightbox) }}
  {{ partial "config/script.html" (dict "id" "gallery-config" "value" $galleryConfig) }}
{{ end }}
{{ partial "layout/head/css.html" . }}
{{ partial "layout/head/js.html" . }}

{{ partial "layout/head/custom-head.html" . }}
