{{- define "submenu" }}
  {{- if .HasChildren }}
    <ul class="submenu">
      {{- range .Children }}
        <li class="submenu__item">
          <a class="submenu__link{{ if .HasChildren }} has-submenu{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
          {{ template "submenu" . }}
        </li>
      {{- end }}
    </ul>
  {{- end }}
{{- end }}

{{- if .Site.Menus.main }}
<nav class="menu">
  <button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
    <span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
  </button>
  <ul class="menu__list">
    {{- $currentNode := . }}
    {{- range .Site.Menus.main }}
    {{- if .Name }}
    <li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
      <a class="menu__link{{ if .HasChildren }} has-submenu{{ end }}" href="{{ .URL }}">
        {{ if .Pre }}
          {{ readFile (printf "static%s" .Pre) | safeHTML }}
        {{ end }}
        <span class="menu__text">{{ .Name }}</span>
        {{ .Post }}
      </a>
      {{ template "submenu" . }}
    </li>
    {{- end }}
    {{- end }}
  </ul>
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}
