{{/* 最近文章区域 */}}
{{ $recentPostsCount := .Site.Params.home.recentPostsCount | default 5 }}

{{ $mainSections := .Site.MainSections | default (slice "posts") }}
{{ $firstSection := index $mainSections 0 }}

{{ $posts := where .Site.RegularPages "Section" $firstSection | first $recentPostsCount }}

{{ $viewAllUrl := "/" }}
{{ if $mainSections }}
  {{ $viewAllUrl = printf "/%s/" $firstSection | relLangURL }}
{{ end }}

{{ partial "content/post-list.html" (dict
  "posts" $posts
  "title" (T "home.recentPosts")
  "showTitle" true
  "showViewAll" true
  "viewAllUrl" $viewAllUrl
  )
}}
