[data-theme="crimson"] {
  --color-primary: oklch(0.58 0.05 15);
  --color-primary-foreground: oklch(1 0 0);
  --color-secondary: oklch(0.93 0.01 15);
  --color-secondary-foreground: oklch(0.43 0.01 12);
  --color-accent: oklch(0.93 0.01 15);
  --color-accent-foreground: oklch(0.27 0.01 12);
  --color-background: oklch(0.98 0.004 15);
  --color-foreground: oklch(0.34 0.01 15);
  --color-muted: oklch(0.94 0.008 15);
  --color-muted-foreground: oklch(0.61 0.01 15);
  --color-border: oklch(0.89 0.008 15);
  --color-card: oklch(0.98 0.004 15);
  --color-card-foreground: oklch(0.19 0.01 12);
  --color-popover: oklch(1 0 0);
  --color-popover-foreground: oklch(0.27 0.01 12);
  --color-note: oklch(0.55 0.12 220);
  --color-tip: oklch(0.55 0.12 150);
  --color-important: oklch(0.55 0.12 280);
  --color-warning: oklch(0.55 0.12 80);
  --color-caution: oklch(0.55 0.12 15);
}

[data-theme="crimson"].dark {
  --color-primary: oklch(0.63 0.05 15);
  --color-primary-foreground: oklch(1 0 0);
  --color-secondary: oklch(0.98 0.004 15);
  --color-secondary-foreground: oklch(0.31 0 12);
  --color-accent: oklch(0.20 0.008 12);
  --color-accent-foreground: oklch(0.97 0.004 15);
  --color-background: oklch(0.25 0.008 12);
  --color-foreground: oklch(0.83 0.008 15);
  --color-muted: oklch(0.21 0.008 12);
  --color-muted-foreground: oklch(0.76 0.008 15);
  --color-border: oklch(0.35 0.008 12);
  --color-card: oklch(0.25 0.008 12);
  --color-card-foreground: oklch(0.98 0.004 15);
  --color-popover: oklch(0.30 0.008 12);
  --color-popover-foreground: oklch(0.93 0 12);
  --color-note: oklch(0.70 0.14 220);
  --color-tip: oklch(0.70 0.14 150);
  --color-important: oklch(0.70 0.14 280);
  --color-warning: oklch(0.70 0.14 80);
  --color-caution: oklch(0.70 0.14 15);
}
