<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">

{{- if .Site.Params.opengraph }}
    {{ template "_internal/opengraph.html" . }}
{{- end }}
{{- if .Site.Params.schema }}
    {{ template "_internal/schema.html" . }}
{{- end }}
{{- if .Site.Params.twitter_cards }}
    {{ template "_internal/twitter_cards.html" . }}
{{- end }}

{{- with .OutputFormats.Get "rss" }}
{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{- end }}

<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">